.noteCard{
    background-color: white;
    width: 20rem;
    aspect-ratio: 2/1;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgb(0 0 0/20%);

}

.noteCardIcons{
    display: flex;
    justify-content: space-around;
    color: var(--primary-notes);
}

.noteIcon{
    cursor: pointer;
    padding: 1rem;
}

.noteIcon:hover{
    border-radius: 50%;
    background-color: var(--primary-light);
}

.noteCard .noteContent{
    padding-bottom: 0;
    overflow-y: auto;
    height: 150px;
    border-top: 1px solid yellow;
}

.noteContent::-webkit-scrollbar {
    width: 2px;
    height: auto;
}

.note-desc{
    margin-bottom: 0.5rem;
}

.noteContent::-webkit-scrollbar{
    width: 0.3rem;
  }
.noteContent::-webkit-scrollbar-track {
    background-color: var(--primary-lighter);
}

.noteContent::-webkit-scrollbar-thumb {
    background-color: var(--primary-light);
}