.sidenav-container{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    box-shadow: 0 3px 3px 4px rgb(0 0 0/20%);
    width: 15rem;
    min-height: 100vh;
    z-index: 2;
}

.sidebar-pill{
    color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-self: center;
    width: 15rem;
    padding: 1rem;
    padding-left: 3rem;
}