.nav-container{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    box-shadow: 0 3px 3px 2px rgb(0 0 0/20%);
}

.nav-container .btn{
    background-color: var(--vl-primary-light);
    color: var(--off-white);
    padding: 0.3rem 0.6rem;
}

.align-icon-pd{
    padding-left: 0.5rem;
}
