:root {
  --gray-color: #616161;
  --gray-light: #a1a1a1;
  --black-color: hsl(220, 15%, 12%);
  --yellow-light: #f7e7a1;
  --primary-notes: #0f56b3;
  --primary-light: #AECAEE;
  --primary-lighter:#cbd9ec;
  --border: 2px solid var(--gray-light);

    --white-color: hsl(0, 0%, 90%);
    --pastel-shade-red:  hsl(0deg 100% 50% / 39%);
    --pastel-shade-green: hsl(156, 75%, 64%);
    --pastel-shade-yellow:  rgb(255 235 59 / 49%);
    --pastel-shade-blue: hsl(211, 100%, 72%); 
    --dark-gray: hsl(0, 8%, 37%);
    --yellow-color: hsl(45, 100%, 51%);
    --light-black: hsl(0deg 10% 15% / 75%);
}

.App {
  font-family: Poppins;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "sidebar content content content content";
  position: relative;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
.gray-col {
  color: var(--gray-color);
}

.gray-light {
  color: var(--gray-light);
}

.black-color {
  color: var(--black-color);
}

.primary-light{
  color: var(--primary-light);
}

.primary-col{
  color: var(--primary-notes);
}

.primary-note-bg{
  background-color: var(--primary-notes);
  color: aliceblue;
}

.primary-light-bg{
  background-color: var(--primary-light);
  color: aliceblue;
}
.flex-row {
  display: flex;
  align-items: center;
}

.d-flex{
  display: flex;
}
.d-grid{
  display: grid;
}
.gap {
  gap: 1rem;
}

.gap-sm{
  gap: 0.5rem;
}
.txt-lg {
  font-size: 18px;
  font-weight: 500;
}

.text-sm{
  font-size: 14px;
  line-height: 1rem;
}

.txt-sm {
  font-size: 14px;
  line-height: 1rem;
}
.txt-xs{
  font-size: 11px;
  font-weight: 500;
}

.txt-xlg {
  font-size: 22px;
  font-weight: 600;
}

.txt-xxlg {
  font-size: 40px;
  font-weight: 600;
}
.cursorPointer {
  cursor: pointer;
}

.p-rel {
  position: relative;
}

.empty-notes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.p-small{
  padding: 0.5rem;
}

.children-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.children-stacked {
  display: flex;
  flex-direction: column;
}

.children-stacked-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:400px) {
  .App{
    grid-template-areas:
    "header header header header header"
    "content content content content content"
    "sidebar sidebar sidebar sidebar sidebar";
  }
}

.notebtn {
  display: inline-block;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  margin: 0 0.5rem;
  color: var(--white-color);
  box-shadow: 2px 4px 10px var(--shadow-color);
}

.notebtn:hover {
  cursor: pointer;
}

.notebtn-link {
  background-color: transparent;
  color: var(--primary-notes);
  font-weight: 600;
  box-shadow: none;
  margin: 0.25rem;
}

.notebtn-link:hover {
  background-color: var(--primary-lighter);
}

.notes-list{
  margin-top: 1rem;
   flex-wrap: wrap;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   justify-items: center;
   column-gap: 0.5rem;
}